body {
            margin: 0;
            padding: 0;
        }

        main {
            padding: 2em;
        }

        .event-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .event {
            width: 30%;
            margin-bottom: 2em;
            padding: 1em;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: var(--gray);
            font-family: regular;
        }

        .event img {
            width: 100%;
            height: 200px;
            object-fit: fill;
            border-radius: 5px;
        }

        .event h3 {
            margin-top: 1em;
        }

        .event p {
            margin-top: 0.5em;
        }

       .h1{
            background: linear-gradient(to bottom right, blue, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
           font-size: 5rem;
       }

.col{
    background-color: yellow;
}

.tableBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 0.5rem;
    margin-bottom: 1rem;
}

.tableBox table{
    background-color: var(--gray);
    height: 20rem;
    width: 40rem;
    transition: linear 250ms;
}

.tableBox table th:hover{
    background-color: var(--orange);
    transition: linear 250ms;
}

.col{
    background-color: yellow;
}

@media (max-width:900px){
    .event img{
        object-fit: cover;

    }
}