.bigShots{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.belowPrin{
    height: 5rem;
    width: 20rem;
    margin-top: 1.5rem;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: violet;
    border: solid;
}

.principal{
    height: 8rem;
    width: 25rem;
    margin-top: 1.5rem;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--orange);
    border: solid;
    position: relative;
}

hr{
    width: 95%;
    margin-inline:auto ;
    margin-top: 3rem;
    height: 0.5rem;
    background-color: black;
    border: none;
}

.principal::after{
    content: '';
    position: absolute;
    width: 0.5rem;
    height: 20.1rem;
    top: 0;
    background-color: black;
    z-index: -1;
}

.prinTitle{
    font-size: 0.7rem;
    
}

.chartOneBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.chartOneBox img{
    height: 30rem;
    width: 30rem;
    border: solid 0.5rem transparent;
    border-image: url('border.png') 30% round;
    transition: linear 250ms;
}

.chartOneBox img:hover{
    background-color: var(--lightBlack);
    transition: linear 250ms;
}

.chartContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50rem;
}

@media (max-width:1007px){

    .principal{
        height: 5rem;
        width: 15rem;
    }
    .belowPrin{
        height: 4rem;
        width: 13rem;
    }
    .prinName{
        font-size: 0.8rem;
    }
    .prinTitle{
        font-size: 0.5rem;
    }
    .principal::after{
        height: 16.1rem;
    }

}

@media (max-width:684px){
    h1{
        font-size: 1.5rem;
    }
    .chartOneBox img{
        height: 20rem;
        width: 20rem;
    }
}
@media (max-width:420px){
    h1{
        font-size: 1rem;
    }
}
@media (max-width:341px){
    .chartOneBox img{
        height: 18rem;
        width: 18rem;
    }
}
